.form > label {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}

.form > input {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: inherit;
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  font-size: 1.2em;
  font-weight: 500;
}

.form > input:active,
.form > input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.form > #remember {
  display: inline-block;
  width: max-content;
  margin-right: 10px;
}
.form > #remember-label {
  display: inline-block;
  font-weight: 500;
}
