.navigation {
  background: #232323;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.left-group {
  color: #ffc93c;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  padding: 0 30px;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: inherit;
}
.links {
  font-size: 1.2em;
}
.links a {
  padding: 5px 20px;
}
.links a:hover,
.active {
  color: yellow;
  border-bottom: 2px solid yellow;
  text-shadow: yellow 1px 1px 20px;
}
.profile-control {
  display: flex;
  flex-direction: row;
  flex-direction: space-evenly;
}
.profile-control {
  border: 2px outset gray;
  padding-right: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-image {
  max-height: 45px;
  padding: 2.5px;
  /* border-radius: 50%; */
  /* border: 2px outset #333; */
}
.profile-summary {
  padding: 0 8px;
}

.full-name {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1em;
  height: 0.7em;
}

.username {
  font-family: monospace;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.logout {
  background-color: transparent;
  height: 25px;
  margin-left: 10px;
  border: none;
  outline: none;
}
.logout:active {
  transform: scale(0.75);
}

.logout > img {
  height: 100%;
}
